.big input {
  caret-color: red;
}

/* body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #fff 0%, #e4e2e2 50%, #97bf11 100%);

  font-family: poppins, sans-serif;
} */

.big {
  width: 440px;
  margin: auto;
}

.container {
  position: relative;
  height: 560px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.brand-logo img {
  width: 100%;
}

.green {
  font-weight: 500;
  font-size: 1rem;
  color: var(--primary-color);
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

.big label,
.big input,
.big button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.big label {
  margin-bottom: 4px;
}

.big .mr {
  margin-top: 4%;
  background-color: var(--primary-color);
  border-radius: 25%;
}

.big label:nth-of-type(2) {
  margin-top: 12px;
}

.big input::placeholder {
  color: gray;
}

.big textarea::placeholder {
  color: gray;
}

.big button {
  color: white;
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.big button:hover {
  box-shadow: none;
}

.big a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

.big h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.input3 {
  border: none;
  outline: none;
  width: 100%;
  height: 70px;
}
