@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Inter:wght@400;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #97bf11;
  --grey-shade: #e4e2e2;
  --white: #fff;
  --cars-bg: #f7f7f7;
}

.App,
.car-layout {
  height: 100vh;
} 

.fetch-button {
  font-size: 2rem;
  background-color: blue;
  color: white;
  padding: 1rem;
  border: none;
}