.main-car-container {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
}

.main-car-container > h1,
.main-car-container > p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 1rem 0;
  padding: 0;
}

.main-car-container > h1 {
  font-weight: 700;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.car-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  color: grey;
  height: 400px;
  margin: 10px;
  padding: 2rem 10px;

  /* border: 1px solid red; */
}

.car-image-wrap {
  width: 80%;
  height: 140px;
  margin-bottom: 1rem;
}

.car-image-wrap > img {
  width: 100%;
}

.car-card > h2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0;
  color: rgb(0, 0, 0);
}

.car-card > p {
  text-align: center;
  color: grey;
}

.cars-icons-wrap {
  border: 1px solid var(--grey-shade);
  width: 30px;
  height: 30px;
  font-size: 1rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.car-link {
  text-decoration: none;
}

.car-details-container {
  position: relative;
  flex-direction: column;
  column-gap: 1rem;
  display: flex;
  width: 100%;
  background-color: var(--cars-bg);
}

.car-details-image-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem;
}

.car-details-image-wrap > img {
  width: 100%;
}

.car-details {
  font-family: 'inter', sans-serif;
  padding: 0 1rem;
}

.car-details-back-btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.car-details > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .car-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  .car-details-container {
    flex-direction: row;
  }

  .car-details-image-wrap {
    flex: 2 0 10%;
    flex-direction: row;
    height: 100%;
    margin: 0;
  }

  .car-details {
    padding: 4rem 0.5rem 2rem;
    flex: 1;
    margin: 4rem 0 2rem 0;
  }

  .car-details-back-btn {
    top: 20px;
    padding: 0 0.5rem 0.5rem;
    width: 70px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
    background-color: var(--primary-color);
    height: 60px;
  }
}
