.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  position: relative;
}

.my-navbar .logo {
  width: 100px;
  padding: 0.3rem;
  background-color: white;
  border-radius: 15px;
}

.my-navbar .logo img {
  width: 100%;
}

.mobile-nav {
  display: none;
}

.hamburger {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  display: flex;
}

.logout {
  position: absolute;
  top: 20px;
}

.logout-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.7rem;
  background-color: var(--grey-shade-2);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .desktop-nav {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
  }

  .nav-icons > a {
    text-decoration: none;
    color: var(--grey-shade-2);
    margin: 0 0.3rem;
  }

  .my-navbar {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    padding: 0 20px;
    background-color: var(--cars-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
  }

  .my-navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .my-navbar .logo img {
    height: 10vh;
    width: 10vw;
    object-fit: contain;
  }

  .my-navbar .my-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'inter', sans-serif;
    margin-top: 3rem;
  }

  .my-navbar .my-nav-links .active {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
  }

  .my-navbar .my-nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    margin: 1vh 0;
    font-size: 1rem;
    font-weight: 700;
    color: var(--grey-shade-2);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  .nav-icons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}
