.reserve-btn {
  background-color: var(--primary-color);
  border-radius: 20px;
  width: 150px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
}
