.splash-logo {
  height: 420px;
}

.splash-logo > img {
  width: 60%;
}

.sign-btn {
  height: 50px;
  border-radius: 25px;
  border: 2px solid var(--primary-color);
  background-color: var(--white);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 180px;
  margin-bottom: 10px;
}

.icons-wrap {
  background-color: var(--grey-shade);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2.5rem 1rem;
}

.socials {
  font-size: 1.5rem;
}

.sign-btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.sign-in-container {
  background-image: url(../images/login-bg-ilustration.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20%;
  height: 100vh;
}

.sign-in-form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-in-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-shade);
}

.greens {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--grey-shade-2);
  margin-bottom: 1rem;
}

.sign-in-form > p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--grey-shade-2);
  margin-bottom: 1rem;
  margin-bottom: 40px;
}

.p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-shade-2);
  margin-bottom: 1rem;
  margin-bottom: 40px;
}

.title2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--grey-shade-2);
  margin-bottom: 2rem;
}

.D {
  margin-top: 20px;
}
